// Custom.scss
// This is the file you will want to update to customize your page.

// Import Google fonts here

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


// Include any default variable overrides here (colors, font sizes, font family, etc..)

$primary: #A04ADD;
$secondary: #3B53C7;
$success: #A4D882;
$info: #59C1EF;
$warning: #FFF689;
$danger: #E5446D;
$light: #f2f2f2;
$dark: #181853;


// Adjust nav link hover color here


.navbar a:hover {
  color: $primary;
}

// Typography
// Change font family for base text
$base-font-family: 'Source Sans 3', sans-serif;

body {
  font-family: $base-font-family;
}

// Change font family for headings

$heading-font-family: 'Libre Baskerville', serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

// Change font sizes for h1-h6 using values in assignment
$h1-size: 3.052rem;
$h2-size: 2.441rem;
$h3-size: 1.953rem;
$h4-size: 1.563rem;
$h5-size: 1.25rem;
$h6-size: 1rem;

h1 { font-size: $h1-size; }
h2 { font-size: $h2-size; }
h3 { font-size: $h3-size; }
h4 { font-size: $h4-size; }
h5 { font-size: $h5-size; }
h6 { font-size: $h6-size; }


@import "../node_modules/bootstrap/scss/bootstrap";

// Add additional custom code here

// Target .navbar-brand and change font-family to use 'Libre Baskerville'.

footer {
  background-color: $dark;
  color: $light;
}

.navbar-brand {
  font-family:'Libre Baskerville';
}